@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@value colors: "../../style/colors.module.css";
@value text-black, text-medium-grey from colors;

.title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 24px;

  color: text-black;
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;

  color: text-medium-grey;
}

.header1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;

  color: text-black;
}

.header2 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 16px;

  color: text-black;
}

.paragraph {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;

  color: text-black;
}

.description1 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 12px;

  color: text-medium-grey;
}

.description2 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 12px;

  color: text-medium-grey;
}
